<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="msp_zendesk" translate="label" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
            <label>Zendesk</label>
            <tab>msp_common</tab>
            <resource>MSP_Zendesk::config</resource>
            <group id="general" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api Key</label>
                    <depends>
                        <field id="msp_zendesk/general/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>